# Replacing Values

Filling in missing data with the fillna method can be thought of as a special case of more general value replacement. While map, as you’ve seen above, can be used to modify a subset of values in an object, replace provides a simpler and more flexible way to doso.

Let’s consider this Series:

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [4]:
data = Series([1, 2000, 2, 2000, 4000, 5])

data

0       1
1    2000
2       2
3    2000
4    4000
5       5
dtype: int64

In [7]:
data.replace(2000, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4    4000.0
5       5.0
dtype: float64

If you want to replace multiple values at once, you instead pass a list then the substitute value:

In [8]:
data.replace([2000, 4000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    5.0
dtype: float64

The argument passed can also be a dict:

In [10]:
data.replace({2000: np.nan,
            4000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    5.0
dtype: float64