# Upsampling and Interpolation

When converting form a low frequency to a higher frequency, no aggregation is needed. Let's consider a DataFrame with some weekly data:

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [2]:
frame = DataFrame(np.arange(2, 10).reshape(2,4),
                index = pd.date_range('1/1/2020', periods=2, freq = 'W-Wed'),
                columns = ['A', 'B', 'C', 'D'])

In [3]:
frame[:5]

            A  B  C  D
2020-01-01  2  3  4  5
2020-01-08  6  7  8  9

When resampling this to daily frequency, by default missing values are introduced:

In [4]:
df_daily = frame.resample('D')

In [5]:
for i in df_daily:
    print(DataFrame(i))

                                               0
0                            2020-01-01 00:00:00
1              A  B  C  D
2020-01-01  2  3  4  5
                                                 0
0                              2020-01-02 00:00:00
1  Empty DataFrame
Columns: [A, B, C, D]
Index: []
                                                 0
0                              2020-01-03 00:00:00
1  Empty DataFrame
Columns: [A, B, C, D]
Index: []
                                                 0
0                              2020-01-04 00:00:00
1  Empty DataFrame
Columns: [A, B, C, D]
Index: []
                                                 0
0                              2020-01-05 00:00:00
1  Empty DataFrame
Columns: [A, B, C, D]
Index: []
                                                 0
0                              2020-01-06 00:00:00
1  Empty DataFrame
Columns: [A, B, C, D]
Index: []
                                                 0
0                              2020-01-07 00:00:00
1  Empty DataFrame
Columns: [A, B, C, D]
Index: []
                                               0
0                            2020-01-08 00:00:00
1              A  B  C  D
2020-01-08  6  7  8  9

Suppose you wanted to fill forward each weekly value on the non-Wednesdays. The same filling or interpolation methods available in the *fillna* and *reindex* methods are available for resampling:

In [7]:
frame.resample('D').agg('ffill')

            A  B  C  D
2020-01-01  2  3  4  5
2020-01-02  2  3  4  5
2020-01-03  2  3  4  5
2020-01-04  2  3  4  5
2020-01-05  2  3  4  5
2020-01-06  2  3  4  5
2020-01-07  2  3  4  5
2020-01-08  6  7  8  9

You can similarly choose to only fill a certain number of periods forward to limit how far to continue using observed value:

In [11]:
frame.resample('D').nearest(limit=2).agg('ffill')

              A    B    C    D
2020-01-01  2.0  3.0  4.0  5.0
2020-01-02  2.0  3.0  4.0  5.0
2020-01-03  2.0  3.0  4.0  5.0
2020-01-04  2.0  3.0  4.0  5.0
2020-01-05  2.0  3.0  4.0  5.0
2020-01-06  6.0  7.0  8.0  9.0
2020-01-07  6.0  7.0  8.0  9.0
2020-01-08  6.0  7.0  8.0  9.0

Notably, the new date index need not overlap with the old one at all:

In [9]:
frame.resample('W-Thu').agg('ffill')

            A  B  C  D
2020-01-02  2  3  4  5
2020-01-09  6  7  8  9