# Renaming Axis Indexes

Like values in a Series, axis labels can be similarly transformed by a function or mapping of some form to produce new, differently labeled objects. The axes can also be modified in place without creating a new data structure.

Hereâ€™s a simple example:

In [1]:
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [30]:
data = DataFrame(np.arange(12).reshape((3, 4)),
                index=['1st', '2nd', '3rd'],
                columns=['one', 'two', 'three', 'four'])

data

     one  two  three  four
1st    0    1      2     3
2nd    4    5      6     7
3rd    8    9     10    11

Like a Series, the axis indexes have a map method

In [31]:
data.index.map(str.upper)

Index(['1ST', '2ND', '3RD'], dtype='object')

In [32]:
data.index = data.index.map(str.upper)

data

     one  two  three  four
1ST    0    1      2     3
2ND    4    5      6     7
3RD    8    9     10    11

If you want to create a transformed version of a data set without modifying the original, a useful method is rename:

In [33]:
data.rename (index = str.upper, columns=str.title)

     One  Two  Three  Four
1ST    0    1      2     3
2ND    4    5      6     7
3RD    8    9     10    11

Notably, rename can be used in conjunction with a dict-like object providing new values for a subset of the axis labels:

In [34]:
data.rename(index={'1ST': 'last'},
            columns={'three': 'not three'})

      one  two  not three  four
last    0    1          2     3
2ND     4    5          6     7
3RD     8    9         10    11

rename saves having to copy the DataFrame manually and assign to its index and columns attributes. Should you wish to modify a data set in place, pass inplace=True:

In [42]:
# Always returns a reference to a DataFrame

_ = DataFrame.rename(index={'1ST': 'last'}, inplace= True, self= data)

data

      one  two  three  four
last    0    1      2     3
2ND     4    5      6     7
3RD     8    9     10    11