# Cross-Tabulations: Crosstab

A cross-tabulation(or crosstab for short) is a special case of a pivot table that computes group frequencies. Here is a canonical example taken form the Wikipedia page on cross tabulation:

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [2]:
data = (['1 Female Right-handed',
'2 Male Left-handed',
'3 Female Right-handed',
'4 Male Right-handed',
'5 Male Left-handed',
'6 Male Right-handed',
'7 Female Right-handed',
'8 Female Left-handed',
'9 Male Right-handed',
'10 Female Right-handed'])

In [3]:
import csv

line = list(csv.reader(data, delimiter= ' '))

data = DataFrame(line, columns=['Sample', 'Gender', 'Handedness'])

As part of some survey analysis, we might want to summerize this data by gender and handedness. You could use *pivot_table* to do this, but the *pandas.crosstab* function in very convenient:

In [4]:
tips = pd.crosstab(data.Gender, data.Handedness, margins = True)

The first two arguments to *vrosstab* can each either be an array or Series or a list of arrays. As in the tips data:

In [5]:
tips = pd.read_csv('../../CSV Files/O_Reilly/ch08/tips.csv')

In [6]:
pd.crosstab([tips['time'], tips.day], tips.smoker, margins = True)

smoker        No  Yes  All
time   day
Dinner Fri     3    9   12
       Sat    45   42   87
       Sun    57   19   76
       Thur    1    0    1
Lunch  Fri     1    6    7
       Thur   44   17   61
All          151   93  244