# Writing Data Out to Text Format

Data can also be exported to delimited format. Let’s consider one of the CSV files read above:

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
data = pd.read_csv('../../CSV Files\O_Reilly\ch06/ex5.csv')

data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Using DataFrame’s to_csv method, we can write the data out to a comma-separated file:

In [5]:
data.to_csv('../../CSV Files\O_Reilly\ch06/b1ch66.csv')

In [9]:
pd.read_csv('../../CSV Files\O_Reilly\ch06/b1ch66.csv')

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

Other delimiters can be used, of course (writing to sys.stdout so it just prints the text result):

In [14]:
data.to_csv(sys.stdout, sep= "|")

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

Missing values appear as empty strings in the output. You might want to denote them by some other sentinel value:

In [15]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

With no other options specified, both the row and column labels are written. Both of these can be disabled:

In [16]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

You can also write only a subset of the columns, and in an order of your choosing:

In [19]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

Series also has a to_csv method:

In [21]:
dates = pd.date_range('1/1/2000', periods=10)

In [23]:
ts = Series(np.arange(10), index= dates)

In [24]:
ts.to_csv('../../CSV Files\O_Reilly\ch06/b1ch66.csv')

With a bit of wrangling (no header, first column as index), you can read a CSV version of a Series with read_csv.

In [42]:
pd.read_csv('../../CSV Files\O_Reilly\ch06/b1ch66.csv', parse_dates= True)

   Unnamed: 0  0
0  2000-01-01  0
1  2000-01-02  1
2  2000-01-03  2
3  2000-01-04  3
4  2000-01-05  4
5  2000-01-06  5
6  2000-01-07  6
7  2000-01-08  7
8  2000-01-09  8
9  2000-01-10  9