# Reading Microsoft Excel Files

pandas also supports reading tabular data stored in Excel 2003 (and higher) files using the ExcelFile class. Interally ExcelFile uses the xlrd and openpyxl packages, so you may have to install them first. To use ExcelFile, create an instance by passing a path to an xls or xlsx file:

In [1]:
import pandas as pd
from lxml.html import parse

In [2]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\mbkmu\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.1)Note: you may need to restart the kernel to use updated packages.

In [3]:
xls_file = pd.ExcelFile('../../CSV Files/data.xls')

In [4]:
xls_file

Data stored in a sheet can then be read into DataFrame using parse:

In [8]:
table = xls_file.parse()

table

# table = xls_file.parse('Sheet1')

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3102,nitrogen N (total),1961,1961,tonnes,41659,Qm,Official data from questionnaires and/or natio...
1,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3103,phosphate P2O5 (total),1961,1961,tonnes,500,Qm,Official data from questionnaires and/or natio...
2,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3103,phosphate P2O5 (total),1962,1962,tonnes,210,Qm,Official data from questionnaires and/or natio...
3,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3102,nitrogen N (total),1962,1962,tonnes,41160,Qm,Official data from questionnaires and/or natio...
4,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3102,nitrogen N (total),1963,1963,tonnes,67620,Qm,Official data from questionnaires and/or natio...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3102,nitrogen N (total),2018,2018,tonnes,3446922,Fm,Manual Estimation
168,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3104,potash K2O (total),2018,2018,tonnes,54173,Fm,Manual Estimation
169,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3104,potash K2O (total),2019,2019,tonnes,47260,Qm,Official data from questionnaires and/or natio...
170,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3102,nitrogen N (total),2019,2019,tonnes,3505356,Qm,Official data from questionnaires and/or natio...
171,RFN,Fertilizers by,165,Pakistan,5157,Agricultural Use,3103,phosphate P2O5 (total),2019,2019,tonnes,1099707,Qm,Official data from questionnaires and/or natio...