# Group Transforms and Analysis

You learned the basics of computing group statistics and applying your own transformations to groups in a dataset.

Let’s consider a collection of hypothetical stock portfolios. I first randomly generate a broad universe of 2000 tickers:

In [20]:
import random; random.seed(0)
import string
import numpy as np
import pandas as pd

In [17]:
N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return '1'.join([random.choice(choices) for _ in range(n)])

tickers = np.array([rands(5) for _ in range(N)])

In [18]:
tickers

array(['D1C1R1J1M', 'W1E1D1V1H', 'Y1V1L1R1U', 'Y1L1M1W1R', 'M1A1C1F1M',
       'B1F1O1P1D', 'Y1K1E1D1L', 'V1Y1G1V1V', 'U1J1W1J1D', 'H1C1J1T1Q',
       'W1A1U1P1L', 'H1T1A1F1N', 'G1T1U1L1F', 'L1U1O1S1O', 'B1Z1H1L1C',
       'F1C1N1X1A', 'K1H1U1Y1K', 'W1H1A1O1Q', 'I1P1R1J1K', 'B1U1T1B1R',
       'G1I1W1Z1I', 'K1K1T1C1G', 'V1A1K1G1X', 'S1B1L1A1N', 'K1U1P1G1U',
       'C1F1C1U1R', 'W1I1V1E1R', 'G1N1F1C1Z', 'Z1P1I1P1E', 'N1N1B1C1O',
       'B1H1E1Q1P', 'O1H1M1Z1W', 'Q1S1G1Q1M', 'H1J1Q1W1Y', 'K1F1A1M1V',
       'F1H1U1I1R', 'Y1V1Y1X1C', 'J1S1R1C1I', 'A1P1O1X1I', 'S1T1Z1M1N',
       'F1B1Z1X1H', 'S1V1N1G1J', 'B1X1B1W1K', 'L1E1T1I1F', 'G1Z1I1I1O',
       'X1K1V1N1X', 'N1I1F1R1L', 'B1Y1T1C1D', 'L1W1Y1G1V', 'P1R1O1C1C',
       'X1T1S1G1W', 'K1U1C1R1E', 'I1U1C1O1L', 'A1V1B1X1G', 'P1Y1E1Q1G',
       'U1D1O1X1O', 'F1C1W1H1O', 'T1J1S1K1W', 'X1T1Y1T1O', 'C1U1S1N1X',
       'W1D1G1D1D', 'T1Q1A1L1N', 'S1Z1F1B1O', 'A1V1O1T1L', 'N1K1C1W1M',
       'I1Z1J1P1S', 'X1K1S1Y1Y', 'P1Q1X1L1Z', 'G1N1L1I1W', 'C1W1K1G1E',
       'O1Q1Q1C1S', 'I1G1S1C1K', 'B1O1J1U1G', 'V1H1Q1R1Y', 'L1Y1I1O1G',
       'P1D1N1R1K', 'W1Z1X1J1F', 'Q1E1I1I1Z', 'F1C1R1I1C', 'N1T1L1H1C',
       'H1B1C1Y1T', 'B1Y1Z1L1O', 'K1G1S1X1D', 'L1W1N1X1V', 'A1O1F1V1Y',
       'X1X1O1T1Y', 'O1N1Y1L1N', 'E1X1F1L1N', 'B1V1H1Z1B', 'G1U1A1E1X',
       'E1G1D1T1W', 'G1R1P1Y1Y', 'G1H1T1U1T', 'C1H1W1D1F', 'Z1D1O1X1B',
       'U1C1L1F1Y', 'I1I1T1N1R', 'V1D1Z1X1V', 'M1V1X1Y1Y', 'D1L1V1D1K',
       'L1O1N1J1F', 'U1V1I1Z1T', 'B1O1Q1B1H', 'C1D1P1Y1Y', 'T1U1Z1K1P',
       'W1P1M1Q1E', 'H1Z1O1M1T', 'J1X1W1V1S', 'L1F1E1M1H', 'B1F1S1V1I',
       'H1N1M1E1B', 'K1F1Y1N1R', 'U1G1L1L1I', 'F1I1D1B1S', 'F1T1Y1D1F',
       'L1K1L1C1O', 'A1E1T1S1P', 'K1X1R1X1H', 'N1F1P1N1L', 'M1K1W1F1Q',
       'D1J1L1G1W', 'D1G1Z1D1G', 'A1V1Y1A1R', 'I1Y1V1W1R', 'X1N1D1X1Y',
       'Z1P1Y1V1C', 'D1N1A1L1O', 'Z1O1F1D1J', 'G1X1N1O1R', 'X1C1B1R1N',
       'T1O1J1R1W', 'H1S1J1S1C', 'V1Z1M1E1J', 'A1D1X1P1C', 'Z1Q1I1I1X',
       'A1J1V1U1Q', 'X1F1V1I1K', 'Y1X1U1W1F', 'A1B1F1L1G', 'A1X1M1K1T',
       'I1N1I1X1X', 'A1A1J1U1F', 'P1J1V1S1T', 'F1X1U1L1J', 'P1A1Z1T1C',
       'J1D1Y1U1I', 'Y1K1Y1G1B', 'U1D1O1L1M', 'Q1S1I1Y1E', 'P1E1Q1D1F',
       'Q1F1R1S1A', 'L1H1I1V1U', 'N1L1Q1R1U', 'V1F1G1F1I', 'Z1S1X1S1H',
       'D1G1U1L1P', 'Q1Z1D1G1Z', 'U1F1I1Y1Y', 'T1Y1K1X1Y', 'I1N1T1E1X',
       'Y1L1K1L1V', 'C1Z1Q1N1B', 'D1T1V1M1X', 'P1R1B1B1M', 'T1Q1I1H1G',
       'M1H1X1A1R', 'L1U1X1F1W', 'W1Q1L1G1Z', 'S1A1G1Z1T', 'V1A1C1R1X',
       'C1N1U1U1C', 'O1D1K1P1S', 'N1W1S1O1W', 'K1S1O1M1S', 'F1U1R1V1G',
       'Q1H1F1D1T', 'D1Q1R1A1P', 'V1V1V1Y1V', 'R1V1A1Y1N', 'I1X1Y1Z1O',
       'X1R1H1Q1J', 'Z1P1G1E1N', 'K1L1B1R1M', 'V1H1I1O1W', 'F1N1J1F1H',
       'S1J1Q1U1G', 'O1X1O1A1C', 'A1C1F1P1K', 'A1S1G1L1D', 'B1O1G1B1E',
       'D1F1S1C1E', 'D1V1J1S1Z', 'X1Z1Y1U1K', 'D1E1I1S1H', 'I1U1Z1I1X',
       'S1J1G1A1E', 'W1U1J1D1F', 'Q1R1L1J1S', 'U1K1X1M1V', 'O1G1R1D1A',
       'Z1X1G1T1F', 'T1V1T1Z1S', 'K1V1H1R1D', 'E1K1G1O1T', 'S1U1V1P1P',
       'G1P1K1D1V', 'Y1C1R1D1U', 'V1M1E1O1D', 'D1H1O1U1M', 'V1Y1G1V1T',
       'N1B1H1F1U', 'E1L1V1V1F', 'D1T1L1D1X', 'V1K1E1K1S', 'J1Q1W1H1O',
       'X1J1N1A1Z', 'P1A1L1P1Z', 'Y1R1E1M1X', 'M1N1Z1U1Z', 'B1D1K1C1J',
       'A1M1C1R1S', 'Q1B1M1R1Y', 'F1E1H1M1J', 'Q1J1N1I1N', 'X1P1E1R1L',
       'Q1L1Y1I1K', 'R1Q1N1L1H', 'Y1U1G1A1C', 'M1B1W1S1R', 'J1Y1U1P1O',
       'O1V1D1W1E', 'I1T1L1G1H', 'E1Q1M1B1J', 'D1N1P1M1D', 'O1J1B1I1S',
       'C1N1R1J1L', 'D1W1V1A1P', 'Z1W1H1Z1K', 'X1O1R1L1E', 'V1Z1O1N1U',
       'X1D1R1Q1F', 'W1K1X1S1E', 'K1X1N1B1H', 'N1B1F1V1M', 'Y1V1Z1H1H',
       'Q1A1P1L1T', 'M1G1O1A1P', 'J1V1X1P1S', 'W1F1L1X1H', 'E1P1A1Q1X',
       'Z1S1F1T1N', 'W1T1K1S1F', 'Y1X1D1I1J', 'S1P1Q1H1Y', 'E1X1T1J1D',
       'P1S1K1E1W', 'Z1L1D1N1S', 'Q1R1B1Y1C', 'K1N1F1U1J', 'K1F1S1D1L',
       'N1Q1N1E1I', 'A1I1A1R1N', 'T1W1U1G1F', 'R1I1T1K1A', 'A1K1N1T1Z',
       'B1A1Z1H1V', 'S1X1O1Z1E', 'R1Q1B1F1L', 'R1G1P1H1E', 'C1V1W1L1W',
       'B1R1C1O1J', 'I1T1N1T1I', 'J1W1G1F1W', 'K1I1P1Z1Y', 'V1O1X1H1Y',
       'P1P1H1Z1G', 'N1J1H1J1U', 'K1D1U1J1U', 'O1R1F1C1X', 'O1F1W1V1P',
       'G1W1U1O1A', 'F1M1T1F1R', 'L1L1Q1Q1V', 'Y1G1S1R1N', 'H1T1H1J1W',
       'Q1A1S1V1A', 'Z1Y1A1D1M', 'K1L1D1U1I', 'B1E1S1U1T', 'L1X1I1F1C',
       'M1X1U1G1I', 'J1P1A1Z1Q', 'M1P1F1Z1G', 'L1D1Z1V1Y', 'F1B1B1G1I',
       'W1D1L1X1C', 'V1K1W1F1L', 'D1Y1G1B1P', 'V1R1C1E1C', 'H1C1F1H1L',
       'F1L1R1H1I', 'R1W1V1G1Y', 'E1B1X1T1H', 'C1R1Y1T1J', 'R1I1F1S1D',
       'M1N1M1L1S', 'B1V1R1T1E', 'K1T1K1R1I', 'J1Q1S1J1H', 'U1R1F1E1Z',
       'H1N1M1D1W', 'R1F1C1K1P', 'Y1B1K1D1J', 'M1S1N1U1D', 'J1B1G1S1P',
       'S1W1O1S1H', 'D1U1Q1E1P', 'G1R1H1U1U', 'F1Q1O1O1A', 'R1D1N1A1A',
       'B1B1W1L1X', 'N1I1S1S1G', 'Y1L1R1S1J', 'V1N1G1J1A', 'H1F1F1I1W',
       'P1W1G1H1Y', 'T1E1C1T1V', 'I1A1C1E1P', 'W1T1F1E1V', 'X1Y1M1A1H',
       'Q1X1C1S1L', 'M1E1K1N1Q', 'A1B1I1B1T', 'A1A1F1S1I', 'A1S1P1R1A',
       'J1Y1U1Q1W', 'B1A1D1X1W', 'Z1N1E1G1Q', 'K1H1C1S1R', 'Z1I1V1H1S',
       'D1C1R1M1J', 'N1L1L1Z1A', 'M1C1J1N1Z', 'V1E1J1U1M', 'A1J1W1Q1V',
       'P1F1L1X1L', 'F1F1J1V1Z', 'E1K1B1P1V', 'C1M1W1M1C', 'P1Q1R1F1A',
       'Q1A1N1Y1Q', 'F1N1K1P1C', 'W1X1A1O1C', 'G1S1J1H1B', 'O1F1F1K1E',
       'K1Y1H1Y1E', 'Y1J1W1G1C', 'Q1H1B1K1R', 'D1W1W1Y1U', 'K1V1Q1R1I',
       'R1A1X1S1N', 'S1I1D1O1O', 'O1K1K1E1M', 'D1Y1J1S1E', 'P1C1S1N1L',
       'A1A1J1C1S', 'C1D1Y1O1U', 'I1L1W1U1J', 'V1H1K1I1Z', 'X1D1D1K1I',
       'N1B1V1U1J', 'Z1I1N1Y1U', 'Y1E1Y1Z1I', 'N1Q1R1L1Y', 'A1L1T1M1J',
       'Z1I1A1H1Z', 'L1K1C1M1W', 'P1V1G1V1A', 'N1I1Q1S1Q', 'L1G1T1H1S',
       'R1Q1C1T1D', 'D1D1T1J1F', 'W1V1M1R1A', 'G1Z1E1P1Q', 'M1W1U1Z1S',
       'B1H1F1X1Y', 'Q1X1F1B1R', 'S1K1L1A1Z', 'E1C1S1W1Z', 'K1F1F1V1C',
       'C1S1K1O1X', 'A1Q1T1J1T', 'V1Q1M1F1Q', 'W1K1L1M1X', 'R1Q1U1M1O',
       'S1O1C1S1J', 'P1N1B1X1Z', 'V1N1F1P1Q', 'H1A1R1U1V', 'S1D1D1R1B',
       'H1B1L1D1H', 'M1O1R1P1F', 'G1V1A1C1V', 'F1C1T1G1D', 'M1N1C1S1M',
       'C1I1Q1V1O', 'G1M1P1V1Y', 'I1R1G1X1S', 'B1R1N1Q1Q', 'S1O1H1M1J',
       'T1W1Y1F1J', 'U1T1X1Z1C', 'W1T1K1S1O', 'N1B1P1V1D', 'S1P1H1U1J',
       'S1V1J1T1U', 'L1Q1I1S1L', 'H1F1N1O1L', 'K1R1W1W1G', 'M1Y1L1Z1P',
       'I1F1J1P1E', 'S1C1D1X1Y', 'L1P1I1X1A', 'K1O1X1G1N', 'Q1Z1J1N1C',
       'G1O1N1B1H', 'X1S1I1V1J', 'S1I1X1Y1R', 'R1E1D1J1B', 'C1L1Z1F1G',
       'D1J1Q1Q1E', 'M1N1Q1K1O', 'J1Q1J1U1H', 'P1I1M1W1Y', 'A1K1R1O1J',
       'P1C1J1D1X', 'P1B1G1D1W', 'F1S1F1B1S', 'Y1Q1I1S1Z', 'B1E1T1C1U',
       'O1H1X1L1T', 'M1M1V1V1Z', 'E1P1T1H1C', 'Q1N1P1M1H', 'L1J1Z1F1N',
       'H1M1L1W1Z', 'Y1I1V1N1R', 'M1X1S1S1O', 'A1U1S1Z1G', 'H1Q1G1Y1L',
       'E1G1Q1O1T', 'S1W1J1B1R', 'W1T1A1V1G', 'P1E1Y1A1H', 'M1O1L1O1A',
       'V1C1F1U1Y', 'B1F1B1E1V', 'I1M1X1D1L', 'C1N1H1F1K', 'A1B1W1H1I',
       'T1K1M1S1D', 'X1J1J1B1E', 'T1X1V1J1H', 'U1B1C1W1R', 'L1L1Y1E1U',
       'E1X1Q1K1Z', 'P1Y1N1J1F', 'L1T1E1T1Q', 'G1Z1Q1T1R', 'H1I1Z1Z1Q',
       'E1D1Y1H1M', 'J1L1R1S1N', 'V1C1B1W1S', 'A1P1N1W1S', 'Y1X1I1E1X',
       'I1L1K1P1Z', 'V1G1A1I1J', 'F1Q1T1F1Z', 'O1R1L1G1N', 'K1M1G1V1J',
       'H1T1H1X1I', 'M1N1F1D1Z', 'M1N1L1L1C', 'T1I1T1I1W', 'E1W1A1Y1F',
       'Q1K1K1F1Y', 'D1T1T1O1E', 'O1Y1U1I1Z', 'N1S1J1N1G', 'L1A1Z1G1D',
       'I1U1Y1F1T', 'M1M1Q1F1A', 'P1G1G1C1M', 'T1H1O1J1I', 'V1T1H1Q1R',
       'E1L1S1U1P', 'B1X1G1R1I', 'N1N1M1Z1I', 'M1O1Q1V1P', 'X1T1P1N1Y',
       'X1O1K1M1M', 'P1H1C1W1J', 'W1V1T1L1G', 'H1O1D1R1X', 'T1T1G1D1Y',
       'L1E1N1H1S', 'U1E1Z1I1Q', 'I1B1J1V1H', 'Q1G1R1B1S', 'W1N1O1H1K',
       'S1B1A1E1M', 'E1O1X1F1C', 'T1V1T1A1L', 'E1W1K1K1Z', 'W1G1I1B1K',
       'T1R1Q1L1V', 'J1G1X1E1G', 'O1L1M1Z1P', 'I1I1H1L1R', 'N1Z1Q1Q1L',
       'R1X1K1F1I', 'B1V1E1E1U', 'N1O1X1M1K', 'I1R1R1P1G', 'N1G1F1H1M',
       'D1Y1C1L1K', 'Z1P1F1K1L', 'S1Z1K1B1G', 'A1H1D1S1M', 'K1P1X1G1F',
       'P1X1B1S1C', 'D1T1T1T1Y', 'A1B1C1B1M', 'I1Q1M1T1D', 'Y1K1Z1E1R',
       'Q1G1T1B1V', 'R1T1F1Y1V', 'Y1Q1W1W1T', 'I1R1N1G1E', 'J1K1Q1H1J',
       'I1D1K1T1K', 'Q1B1H1J1V', 'Y1V1N1N1W', 'L1R1B1P1A', 'V1C1G1N1E',
       'X1Y1H1M1J', 'H1Z1P1K1L', 'I1J1J1S1F', 'M1H1J1G1E', 'N1L1B1L1O',
       'U1D1E1E1T', 'E1G1Z1L1B', 'A1F1A1B1T', 'Z1S1C1M1S', 'X1Z1L1I1D',
       'X1R1H1M1W', 'G1X1R1G1V', 'X1J1H1K1X', 'D1J1G1Q1Z', 'A1U1H1C1H',
       'T1F1E1K1G', 'D1R1H1Z1N', 'L1E1V1W1K', 'U1W1G1G1W', 'K1V1W1M1H',
       'I1V1B1H1U', 'H1R1K1L1N', 'A1E1V1S1M', 'K1D1B1B1B', 'O1I1M1Y1W',
       'R1F1S1S1R', 'F1U1T1Q1U', 'P1S1X1G1V', 'E1R1N1L1V', 'V1J1Q1V1O',
       'R1K1R1M1O', 'J1D1B1W1Z', 'A1U1T1K1B', 'L1K1D1J1X', 'O1I1H1K1Y',
       'U1K1G1B1I', 'E1R1P1R1D', 'C1U1O1I1S', 'L1Q1M1L1U', 'I1J1V1N1Z',
       'V1K1C1D1H', 'G1W1M1F1X', 'Y1A1S1Y1A', 'T1I1N1V1Z', 'P1H1M1A1I',
       'M1S1H1N1Z', 'Q1C1B1O1Y', 'G1S1T1H1W', 'C1Y1F1I1C', 'Z1S1D1J1C',
       'N1T1E1N1L', 'B1D1A1E1W', 'Q1Y1S1Y1H', 'F1Z1N1Y1P', 'Q1W1D1I1J',
       'I1M1I1C1N', 'Z1E1Y1A1Q', 'D1A1X1H1V', 'E1N1V1A1N', 'G1Q1F1S1O',
       'A1P1Q1H1R', 'I1Y1Y1P1V', 'U1U1D1T1C', 'W1V1O1G1U', 'N1P1C1T1S',
       'I1P1M1T1W', 'X1I1X1I1J', 'L1O1H1H1Z', 'D1X1S1Z1C', 'O1G1G1R1I',
       'D1F1Y1S1B', 'H1V1L1N1U', 'B1J1A1V1B', 'C1I1U1S1O', 'B1H1C1F1N',
       'I1Y1P1L1G', 'U1J1M1C1Y', 'H1P1E1C1U', 'C1C1S1L1L', 'L1H1P1C1H',
       'Y1E1C1H1E', 'J1O1P1I1K', 'Q1Z1J1N1J', 'C1G1R1O1G', 'W1J1U1P1N',
       'T1U1B1O1O', 'N1Z1E1X1K', 'O1P1I1T1G', 'V1C1E1B1Z', 'Z1V1N1I1S',
       'H1N1G1G1U', 'V1H1P1M1T', 'W1S1V1W1I', 'A1B1G1G1D', 'I1S1E1U1I',
       'Q1I1E1S1F', 'T1K1W1K1F', 'L1P1U1T1I', 'S1T1L1J1U', 'J1R1W1V1Q',
       'X1D1K1S1B', 'T1F1I1R1Q', 'A1T1Y1I1M', 'A1T1E1B1D', 'Z1H1J1V1D',
       'U1H1X1G1F', 'J1M1T1S1J', 'R1M1F1L1E', 'L1T1E1J1P', 'P1D1T1D1G',
       'M1V1X1F1E', 'Z1C1Q1H1Z', 'P1T1T1H1H', 'W1R1I1R1S', 'E1K1Z1R1I',
       'C1K1Z1P1T', 'A1E1N1X1O', 'L1Y1V1M1Z', 'T1W1B1T1L', 'U1F1J1N1P',
       'F1J1R1Z1I', 'L1O1Q1E1K', 'X1I1D1G1M', 'Y1E1N1Q1L', 'U1G1G1O1R',
       'Z1J1Q1F1Q', 'A1Z1O1T1J', 'Y1L1E1T1X', 'T1H1J1G1U', 'D1H1Z1K1Y',
       'D1Z1S1J1F', 'P1M1E1Y1C', 'Z1D1O1H1D', 'F1Q1A1X1T', 'J1C1S1D1C',
       'P1X1F1L1J', 'G1E1E1Z1J', 'H1G1D1F1E', 'A1W1J1R1U', 'J1X1F1A1E',
       'V1D1H1H1Q', 'L1J1W1V1K', 'R1Z1Y1P1S', 'J1R1Q1C1A', 'G1P1L1E1R',
       'P1W1Z1N1I', 'F1F1B1R1E', 'W1Y1C1R1B', 'G1V1Y1K1J', 'Z1S1G1F1Y',
       'G1P1H1I1M', 'U1W1D1W1S', 'L1Q1M1Z1L', 'E1A1T1U1F', 'X1V1G1E1Q',
       'E1E1R1K1E', 'V1G1J1W1B', 'F1K1K1O1B', 'I1W1M1N1O', 'Q1Z1N1X1V',
       'M1J1N1T1A', 'G1S1N1H1C', 'Q1T1U1C1W', 'B1B1V1M1V', 'H1E1L1J1H',
       'J1A1N1M1V', 'M1I1T1N1N', 'W1W1O1M1X', 'C1Q1R1O1X', 'F1T1G1P1U',
       'Z1I1W1W1V', 'D1N1A1W1D', 'Q1X1O1O1O', 'L1S1E1J1Q', 'I1M1P1A1M',
       'O1Q1Q1G1A', 'N1B1P1P1U', 'W1L1S1A1P', 'H1Q1D1Y1T', 'W1L1R1R1H',
       'W1D1W1N1L', 'C1L1U1K1N', 'M1O1Z1I1A', 'D1R1N1W1S', 'Q1Y1D1A1K',
       'T1L1I1E1S', 'T1K1D1F1P', 'J1K1L1W1G', 'T1F1J1C1A', 'P1G1S1J1P',
       'L1R1D1P1S', 'F1A1M1A1P', 'Z1R1J1C1Y', 'B1I1E1N1E', 'A1N1H1J1K',
       'B1Q1G1F1Q', 'F1Z1Z1B1G', 'W1C1L1M1E', 'T1O1J1A1J', 'W1X1Y1L1U',
       'E1U1S1L1G', 'Y1M1Y1C1N', 'D1M1T1D1R', 'F1W1E1E1Q', 'N1F1L1N1U',
       'M1L1Y1U1G', 'P1F1H1A1F', 'I1Q1Y1E1H', 'K1L1Y1R1T', 'I1W1J1E1E',
       'S1Q1V1Q1C', 'H1X1X1H1D', 'G1C1V1I1I', 'B1P1U1I1R', 'P1N1H1N1S',
       'Z1T1C1Z1U', 'D1F1Z1S1J', 'Z1Y1B1L1X', 'G1Y1U1L1E', 'L1S1Z1X1Y',
       'C1J1R1F1Y', 'P1T1M1D1Y', 'U1Q1R1V1T', 'I1S1X1M1G', 'G1T1R1I1N',
       'F1F1A1R1E', 'X1E1D1C1Y', 'A1G1H1H1O', 'K1D1X1L1G', 'U1E1X1U1O',
       'N1G1B1O1K', 'Z1V1U1W1P', 'B1M1N1U1S', 'E1X1U1Y1F', 'U1B1F1O1E',
       'P1N1R1D1O', 'O1P1I1T1J', 'D1P1R1Y1R', 'Z1U1E1Y1Z', 'M1R1C1C1J',
       'X1Y1L1R1L', 'L1A1W1U1F', 'T1X1T1S1C', 'I1E1Q1V1Z', 'Y1E1N1P1I',
       'G1J1Z1G1O', 'J1E1D1A1T', 'X1U1P1H1D', 'D1E1I1Y1Q', 'X1A1F1I1E',
       'B1M1A1A1X', 'A1M1P1Q1Q', 'K1S1J1J1L', 'Q1V1Z1W1U', 'E1D1T1W1F',
       'O1K1X1D1J', 'N1P1R1R1L', 'R1L1V1N1P', 'E1V1W1T1Z', 'C1T1M1E1X',
       'L1J1I1L1G', 'W1W1F1T1F', 'S1Z1P1B1D', 'M1O1U1J1T', 'T1D1G1D1X',
       'I1W1E1O1E', 'X1O1P1D1Y', 'K1L1A1M1R', 'V1U1F1S1Q', 'F1W1S1X1E',
       'H1N1I1W1U', 'T1X1I1F1H', 'X1H1B1R1V', 'M1J1Y1I1U', 'X1K1G1Q1M',
       'Q1S1X1C1N', 'I1H1B1X1M', 'M1N1D1Q1G', 'O1A1O1A1T', 'V1A1C1T1E',
       'C1I1Y1E1R', 'J1Y1D1Q1R', 'M1B1S1E1U', 'K1S1U1Z1Z', 'M1M1E1Y1J',
       'G1N1J1E1M', 'W1H1B1X1W', 'S1Z1I1G1Y', 'H1P1P1F1S', 'T1H1U1R1P',
       'U1I1T1T1G', 'H1T1H1V1O', 'O1N1F1J1K', 'X1W1Q1Q1V', 'P1D1S1W1S',
       'T1X1V1D1E', 'J1Z1N1D1Z', 'I1O1Y1T1Q', 'J1K1D1W1K', 'C1S1R1L1E',
       'L1K1V1M1X', 'M1P1B1C1H', 'R1P1D1Q1R', 'E1P1A1B1P', 'C1J1H1M1O',
       'L1C1Q1G1D', 'X1Q1A1J1P', 'K1A1J1J1L', 'J1W1H1Y1M', 'R1V1R1Y1P',
       'O1Y1A1J1T', 'U1I1X1P1L', 'Y1Q1F1T1P', 'P1I1B1U1X', 'C1N1N1F1L',
       'X1N1I1I1U', 'I1Q1A1B1A', 'I1C1W1F1F', 'F1L1K1K1U', 'Q1X1Z1Q1N',
       'K1S1H1T1T', 'Z1J1Y1X1D', 'T1D1H1A1J', 'E1N1L1D1X', 'B1M1F1U1I',
       'X1B1F1S1Z', 'W1M1J1H1Y', 'K1C1X1R1Y', 'G1B1B1A1D', 'M1O1U1Q1P',
       'P1O1B1V1X', 'O1U1O1N1S', 'G1Q1W1M1X', 'M1V1V1M1I', 'B1I1S1C1K',
       'Q1A1I1N1E', 'G1S1I1O1N', 'Z1S1N1V1J', 'Q1Q1P1L1X', 'R1T1S1G1Y',
       'K1C1A1Z1Y', 'P1D1E1B1Q', 'P1J1Z1I1F', 'E1J1B1S1W', 'Z1S1K1M1I',
       'R1F1R1W1D', 'V1F1X1C1Q', 'R1M1K1P1T', 'E1Z1P1Z1H', 'U1X1B1J1B',
       'A1U1Q1Y1L', 'D1V1Y1H1C', 'Q1R1N1M1M', 'K1H1A1Z1N', 'V1K1F1U1G',
       'P1L1O1M1H', 'T1H1Y1G1O', 'S1C1G1D1Y', 'W1R1G1K1D', 'P1A1L1X1X',
       'Y1A1W1E1H', 'M1Z1C1G1M', 'I1U1T1G1M', 'Y1J1Y1T1I', 'Q1G1Y1G1G',
       'K1W1O1N1D', 'F1V1D1D1A', 'Q1B1L1C1V', 'Q1N1G1U1T', 'M1C1F1T1Y',
       'M1P1W1F1Y', 'I1D1U1R1Y', 'C1F1V1U1Y', 'W1C1C1B1A', 'O1R1M1U1I',
       'R1W1N1O1U', 'I1B1D1O1N', 'A1K1I1E1O', 'L1U1S1V1V', 'J1D1I1I1K',
       'P1U1A1P1V', 'G1E1M1W1B', 'N1J1X1H1B', 'G1L1O1E1T', 'V1K1X1I1P',
       'N1Y1Z1W1Y', 'L1I1P1S1X', 'W1V1C1T1V', 'X1B1V1V1A', 'N1S1D1Z1M',
       'R1Z1L1V1F', 'H1F1E1C1V', 'L1S1E1H1L', 'P1V1P1Y1G', 'W1E1N1L1Z',
       'S1W1G1D1X', 'I1O1K1F1D', 'J1O1F1S1H', 'Q1P1Q1M1D', 'U1O1F1O1A',
       'O1C1V1X1E', 'Y1F1D1U1R', 'E1D1Y1M1C', 'K1Q1V1R1D', 'L1M1W1Y1Y',
       'N1N1V1E1G', 'L1O1F1G1Z', 'U1T1P1Z1R', 'C1N1R1A1H', 'L1M1M1H1X',
       'Y1N1I1W1P', 'L1F1A1R1X', 'K1L1J1Z1I', 'L1Z1J1C1G', 'B1O1H1T1A',
       'B1D1X1V1N', 'D1I1K1Z1W', 'W1K1V1K1X', 'Y1W1R1L1S', 'V1A1L1J1X',
       'H1Y1V1F1E', 'A1V1Q1N1Z', 'R1Z1N1Q1T', 'Q1E1E1P1C', 'E1C1U1A1E',
       'C1A1Q1N1S', 'Q1W1Y1M1O', 'Q1R1B1V1V', 'S1E1Y1C1H', 'G1W1M1V1J',
       'Q1G1E1M1M', 'X1V1T1V1V', 'M1F1K1G1K', 'J1O1O1I1T', 'K1Y1X1U1G',
       'P1Y1Y1W1X', 'L1T1W1G1F', 'K1A1A1P1D', 'P1H1M1W1D', 'L1N1Z1O1C',
       'N1Q1Z1A1N', 'D1L1O1Z1E', 'Q1H1C1T1U', 'Q1F1L1T1G', 'B1S1E1Y1O',
       'B1O1F1W1P', 'D1U1J1D1Y', 'E1U1F1S1L', 'Y1P1Q1U1T', 'Y1T1X1P1T',
       'M1P1O1R1E', 'H1V1V1E1U', 'K1B1T1F1N', 'L1F1L1J1E', 'C1R1Y1V1R'],
      dtype='<U9')

I then create a DataFrame containing 3 columns representing hypothetical, but random portfolios for a subset of tickers:

In [21]:
M = 500
df = pd.DataFrame({'Momentum': np.random.randn(M) / 200 +.03,
                        'Value': np.random.randn(M) / 200 + .08,
                        'ShortInterest': np.random.randn(M) / 200 - .02},
                        index = tickers[:M])

In [22]:
df

           Momentum     Value  ShortInterest
D1C1R1J1M  0.036649  0.077906      -0.025152
W1E1D1V1H  0.033180  0.076947      -0.029863
Y1V1L1R1U  0.029630  0.069364      -0.017857
Y1L1M1W1R  0.031200  0.080340      -0.022389
M1A1C1F1M  0.029876  0.082379      -0.013235
...             ...       ...            ...
E1L1S1U1P  0.041140  0.080067      -0.011857
B1X1G1R1I  0.033145  0.078836      -0.022577
N1N1M1Z1I  0.030463  0.078472      -0.018437
M1O1Q1V1P  0.027751  0.081169      -0.021985
X1T1P1N1Y  0.031929  0.075753      -0.011586

[500 rows x 3 columns]

Next, let’s create a random industry classification for the tickers. To keep things simple, I’ll just keep it to 2 industries, storing the mapping in a Series:

In [25]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = pd.Series(ind_names[sampler], index= tickers,
                        name = 'industry')

Now we can group by industries and carry out group aggregation and transformations:

In [32]:
by_industry = df.groupby(industries)

In [33]:
by_industry.sum()

           Momentum      Value  ShortInterest
industry
FINANCIAL  6.978585  18.499729      -4.524055
TECH       8.156718  21.803830      -5.327546

In [35]:
by_industry.describe().T

industry              FINANCIAL        TECH
Momentum      count  229.000000  271.000000
              mean     0.030474    0.030099
              std      0.004656    0.005033
              min      0.016736    0.017135
              25%      0.027100    0.026808
              50%      0.031010    0.030479
              75%      0.033795    0.033662
              max      0.042247    0.044140
Value         count  229.000000  271.000000
              mean     0.080785    0.080457
              std      0.005284    0.005088
              min      0.061325    0.067158
              25%      0.077068    0.076943
              50%      0.081187    0.080723
              75%      0.084510    0.083882
              max      0.093016    0.093467
ShortInterest count  229.000000  271.000000
              mean    -0.019756   -0.019659
              std      0.004942    0.004784
              min     -0.032252   -0.032179
              25%     -0.023160   -0.022681
              50%     -0.019658   -0.019564
              75%     -0.016604   -0.016677
              max     -0.000139   -0.005660

By defining transformation functions, it’s easy to transform these portfolios by industry. For example, standardizing within industry is widely used in equity portfolio construction:

In [36]:
# within-Industry Standarize

def zscore(group):
    return (group - group.mean())/group.std()

df_stand = by_industry.apply(zscore)

You can verify that each industry has mean 0 and standard deviation 1:

In [37]:
df_stand.groupby(industries).agg(['mean', 'std'])

               Momentum              Value      ShortInterest
                   mean  std          mean  std          mean  std
industry
FINANCIAL -1.163553e-16  1.0  3.202921e-15  1.0 -5.963207e-16  1.0
TECH       8.674898e-16  1.0  1.699338e-15  1.0 -3.408508e-16  1.0

Other, built-in kinds of transformations, like rank, can be used more concisely:

In [38]:
# Within-industry rank descending
ind_rank = by_industry.rank(ascending=False)

In [39]:
ind_rank

           Momentum  Value  ShortInterest
D1C1R1J1M      24.0  163.0          198.0
W1E1D1V1H      73.0  203.0          264.0
Y1V1L1R1U     133.0  225.0           73.0
Y1L1M1W1R     103.0  124.0          161.0
M1A1C1F1M     146.0   98.0           25.0
...             ...    ...            ...
E1L1S1U1P       2.0  127.0           12.0
B1X1G1R1I      75.0  164.0          201.0
N1N1M1Z1I     137.0  170.0          110.0
M1O1Q1V1P     185.0  123.0          191.0
X1T1P1N1Y     104.0  217.0           14.0

[500 rows x 3 columns]

In [41]:
ind_rank.groupby(industries).agg(['min', 'max'])

          Momentum        Value        ShortInterest
               min    max   min    max           min    max
industry
FINANCIAL      1.0  229.0   1.0  229.0           1.0  229.0
TECH           1.0  271.0   1.0  271.0           1.0  271.0

In quantitative equity, “rank and standardize” is a common sequence of transforms. You could do this by chaining together rank and zscore like so:

In [43]:
# Industry rank and standardize

by_industry.apply(lambda x: zscore(x.rank())).info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, D1C1R1J1M to X1T1P1N1Y
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Momentum       500 non-null    float64
 1   Value          500 non-null    float64
 2   ShortInterest  500 non-null    float64
dtypes: float64(3)
memory usage: 31.8+ KB