Summary Statistics by Level
Many descriptive and summary statistics on DataFrame and Series have a level option in which you can specify the level you want to sum by on a particular axis. Consider the above DataFrame; we can sum by level on either the rows or columns like so:

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [12]:
frame = DataFrame(np.arange(16).reshape(4,4), index=[['a', 'a', 'b', 'b'],[1,2,1,2]], columns=[['col1', 'col2', 'col2', 'col3'], ['c11', 'c22', 'c22', 'c44']])

frame

    col1 col2     col3
     c11  c22 c22  c44
a 1    0    1   2    3
  2    4    5   6    7
b 1    8    9  10   11
  2   12   13  14   15

In [13]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['columns', 'subcol']

frame

columns   col1 col2     col3
subcol     c11  c22 c22  c44
key1 key2
a    1       0    1   2    3
     2       4    5   6    7
b    1       8    9  10   11
     2      12   13  14   15

In [14]:
frame.sum(level='subcol', axis = 1)

C:\Users\mbkmu\AppData\Local\Temp\ipykernel_11360\4146116385.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='subcol', axis = 1)

subcol     c11  c22  c44
key1 key2
a    1       0    3    3
     2       4   11    7
b    1       8   19   11
     2      12   27   15