# Function application and mapping

NumPy ufuncs (element-wise array methods) work fine with pandas objects:

In [3]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [6]:
frame = DataFrame(np.random.randn(4, 3), columns=list('bde'),
index=['Utah', 'Ohio', 'Texas', 'Oregon'])

frame

               b         d         e
Utah   -0.298261  0.329089  0.981688
Ohio    1.753627  1.600380  1.196510
Texas  -1.205536  0.784895 -0.375645
Oregon -1.109401 -0.578826 -0.831365

In [7]:
np.abs(frame)

               b         d         e
Utah    0.298261  0.329089  0.981688
Ohio    1.753627  1.600380  1.196510
Texas   1.205536  0.784895  0.375645
Oregon  1.109401  0.578826  0.831365

Another frequent operation is applying a function on 1D arrays to each column or row.DataFrameâ€™s apply method does exactly this:

In [9]:
f = lambda x: x.max() - x.min()

f

In [10]:
frame.apply(f)

b    2.959163
d    2.179206
e    2.027875
dtype: float64

In [11]:
frame.apply(f, axis = 1)

Utah      1.279948
Ohio      0.557117
Texas     1.990431
Oregon    0.530575
dtype: float64