# Reordering and Sorting Levels
At times you will need to rearrange the order of the levels on an axis or sort the data by the values in one specific level. The swaplevel takes two level numbers or names and returns a new object with the levels interchanged (but the data is otherwise unaltered):

In [11]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [21]:
frame = DataFrame(np.arange(12).reshape((4, 3)), index=[['a', 'a', 'b','b'],[1, 2, 1, 2]], columns=[['Ohio','Ohio' 'Colorado'], ['Green', 'Red', 'Green']])

# frame = DataFrame(np.arange(12).reshape((4, 3)),
# index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
# columns=[['Ohio', 'Ohio', 'Colorado'],
# ['Green', 'Red', 'Green']])

ValueError: all arrays must be same length

In [31]:
frame = DataFrame(np.arange(12).reshape((4, 3)), 
index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
columns=[['Ohio','Ohio' ,'Colorado'],
['Green', 'Red', 'Green']])


frame.index.names = ['key1', 'key2']
frame.columns.names= ['states', 'color']

frame

states     Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [42]:
frame.swaplevel('key1', 'key2')

states     Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

sort_index, on the other hand, sorts the data (stably) using only the values in a single level. When swapping levels, itâ€™s not uncommon to also use sortlevel so that the result is lexicographically sorted:

In [41]:
frame.sort_index()

states     Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [40]:
frame.sort_index(0,1).sort_index(0)

C:\Users\mbkmu\AppData\Local\Temp\ipykernel_10616\45337311.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.sort_index will be keyword-only.
  frame.sort_index(0,1).sort_index(0)

states     Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11