# Reindexing

A critical method on pandas objects is reindex, which means to create a new object with the data conformed to a new index.

In [12]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [13]:
obj = Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])

obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

Calling reindex on this Series rearranges the data according to the new index, introducing missing values if any index values were not already present:

In [14]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [15]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'], fill_value = 0)

obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

For ordered data like time series, it may be desirable to do some interpolation or filling of values when reindexing. The method option allows us to do this, using a method such as ffill which forward fills the values:

In [16]:
obj3 = Series(['blue', 'black', 'green'], index = [0,2,4])

In [17]:
obj3.reindex(range(6), method = 'backfill')

0     blue
1    black
2    black
3    green
4    green
5      NaN
dtype: object

![reindex method (interpotation) options](../../Pictures/reindex%20method%20(interpotation)%20options.png)

With DataFrame, reindex can alter either the (row) index, columns, or both. When passed just a sequence, the rows are reindexed in the result:

In [18]:
frame = DataFrame(np.arange(9).reshape((3,3)), index=['a', 'b', 'd'],
        columns= ['Loralai', 'Quetta', 'Duki'])

frame

   Loralai  Quetta  Duki
a        0       1     2
b        3       4     5
d        6       7     8

In [19]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])

frame2

   Loralai  Quetta  Duki
a      0.0     1.0   2.0
b      3.0     4.0   5.0
c      NaN     NaN   NaN
d      6.0     7.0   8.0

> The columns can be reindexed using the columns keyword:

In [20]:
states = ['Quetta', 'Duki', 'Loralai']
frame2.reindex(columns=states)

   Quetta  Duki  Loralai
a     1.0   2.0      0.0
b     4.0   5.0      3.0
c     NaN   NaN      NaN
d     7.0   8.0      6.0

 Reindexing can be done more succinctly by label-indexing with loc or iloc:

In [30]:
frame.loc[['a', 'b', 'd'], states]

   Quetta  Duki  Loralai
a       1     2        0
b       4     5        3
d       7     8        6

![reindex function arguments](../../Pictures/reindex%20function%20arguments.png)