# Grouping by Index Levels

A final convenience for hierarchically-indexed data sets in the ability to aggergate using one of the levels of an axis index. to do this, pass the level number or name using the *level* keyword:

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [5]:
columns = pd.MultiIndex.from_arrays([['us', 'us', 'us', 'jp', 'jp'],
                                    [1, 3, 5, 1, 4]],
                                    names = ['cty', 'tenor'])

In [9]:
DataFrame(columns)

         0
0  (us, 1)
1  (us, 3)
2  (us, 5)
3  (jp, 1)
4  (jp, 4)

In [11]:
hier_df = DataFrame(np.random.randn(4,5), columns = columns)

hier_df

cty          us                            jp
tenor         1         3         5         1         4
0     -0.149401 -0.714304  0.484043 -1.596897  0.701803
1     -0.546720 -1.364551  0.125520 -0.633211  0.277949
2     -2.201424  0.228200 -2.488660  0.641236 -0.470036
3     -0.290507  0.069788  0.759715 -0.048066 -1.814996

In [15]:
hier_df.groupby(level = 'cty', axis = 1).count()

cty  jp  us
0     2   3
1     2   3
2     2   3
3     2   3